.transaction-search {
  margin-top: 35px !important;
  .transaction-search-form {
    label {
      width: 62px;
    }
  }
}

.title-table {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.85);
}

.color-default {
  background: #1890ff;
  color: #ffffff;
}

.button1 {
  color: #ff4d4f !important;
}
.button2 {
  color: #1890ff !important;
}
.button3 {
  color: #52c41a !important;
}

.status {
  display: flex;
  gap: 5px;
  align-items: center;
}

.status::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.close::before {
  content: "";
  background-color: #ff4d4f;
}

.sus::before {
  content: "";
  background-color: #fdcd9d;
}

.live::before {
  content: "";
  background-color: #52c41a;
}

.table-store {
  cursor: pointer;
}
