// Mapping with: https://www.figma.com/file/qYejeWfH5CI3D2k5wCcSCP/UI-Kit---Frac?node-id=5%3A19

$neutral0: #fff;
$neutral1: #f7f7f7;
$neutral2: #d1d1d1;
$neutral3: #adadad;
$neutral4: #f7f7f7;
$neutral5: #787878;
$neutral6: #454545;
$neutral7: #303030;
$neutral8: #242424;
$neutral9: #121212;
$neutral10: #000;

$neutral0-dark: #000;
$neutral1-dark: #121212;
$neutral2-dark: #242424;
$neutral3-dark: #303030;
$neutral4-dark: #454545;
$neutral5-dark: #787878;
$neutral6-dark: #878787;
$neutral7-dark: #adadad;
$neutral8-dark: #d1d1d1;
$neutral9-dark: #f7f7f7;
$neutral10-dark: #fff;

$color-link: #4d8aff;
$color-success: #4ecc79;
$color-warning: #fdc932;
$color-error: #f35b37; ;
