.select-category {
  width: 100%;
  margin-top: 10px;
}
.required {
  color: red;
}
.footer-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.panel {
  background-color: #fff;
  padding-bottom: 30px;
}
