.content-popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .form-item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

.tier-avatar-preview {
  width: 200px;
  height: 200px;
  margin: auto;
  .tier-avatar {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
