.product-management-page {
  .status {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px 8px 2px 0;
  }

  .show {
    background: #52c41a;
  }

  .hidden {
    background: #ff4d4f;
  }

  td:last-child {
    text-transform: capitalize;
  }

  .customTab {
    width: 128px;
  }
  .tabContent {
    margin-top: 12px;
  }

  .paginationWrapper {
    position: absolute;
    top: 10px;
    right: 0;
  }

  .update {
    color: var(--common-blue);
    cursor: pointer;
    text-decoration: underline;
  }
  .note {
    white-space: pre-wrap;
  }
}

.actionBtnGroup {
  display: flex;
  align-items: center;

  .btnAction {
    margin-right: 10px;
    width: fit-content;
    border: none;
    padding: 0px 0px;
    background: transparent;
    box-shadow: none;
  }
}

.transaction-search {
  margin-top: 35px !important;
  .transaction-search-form {
    label {
      width: 62px;
    }
  }
}
