.forgot-page {
  background-image: url("../../assets/icons/common/bg-login.jpg");
  height: 100vh;

  &__wrapperLogo {
    text-align: center;
    img {
      margin-top: 12%;
    }
  }

  &__textReset {
    color: #0b0b0c;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
    margin-top: 34px;
    margin-bottom: 60px;
  }

  &__form {
    #login {
      max-width: 360px;
      margin: auto;
    }
    // margin-top: 69px;
    &__area {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &__info {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.color-default {
  color: rgba(24, 144, 255, 1);
}

.flex {
  display: flex;
}

.backLogin {
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  position: absolute;
  top: 0px;
  margin-left: 40px;
  left: 0px;
  div {
    margin-left: 12px;
  }
}
